* {
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
}
/* Keep it simple - improvement would be to not display characters */
 .letter {
    display: inline-block;
    list-style: none;
    width: 20px;
    margin: 0 5px;
    border-bottom: 1px solid black;
    text-align: center;
    color: white;
}
.current-word {
    list-style: none;
}

.correct {
    background-color: green;
    transition: all 1s ease;
}
